<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAnderlistt</title>
</head>
<body>
    <form method="post" action="/listings">

        <input type="text" name="listing[title]" placeholder="enter title">
        <br>
        <textarea type="text" name="listing[description]" placeholder="enter discription"></textarea>
        <br>
        <input type="text" name="listing[image]" placeholder="enter url image">
        <br>
        <input type="number" name="listing[price]" placeholder="enter price">
        <br>
        <input type="text" name="listing[location]" placeholder="enter location">
        <br>
         <input type="text" name="listing[country]" placeholder="enter country">
        <br>
        <button>Add</button>

        
    </form>
</body>
</html>